<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coen390_groupproject_bearcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bearcare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bearcare_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COEN390_GroupProject_BearCare">
        <activity android:name=".ChildDirectoryActivity"></activity>
        <activity
            android:name=".TemperatureActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>